.form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:5rem;
  }
  
  .form-container {
    min-width: 40%;
    max-width: 80%;
    min-height: 400px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
  }

  .form-container .header {
    flex: 20%;
    display: grid;
    place-items: center;
  }
  
  .form-container .body {
    flex: 60%;
  }
  
  .form-container .footer {
    flex: 20%;
    display: flex;
    justify-content: center;
  }  

  .form-container .footer button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    width: 115px;
    height: 40px;
    font-weight: bold;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
    background: #C1E5C0;
    transition-duration: 0.8s;
  }
  

  .form-container .footer button:hover {
    background-color: #c1e5c0 ;
    border: 2px solid #abdfa9 ;
   
}

.form-container .footer button:active {
    border: 3px solid #292929 ;
}
.form-container .footer button:focus {
    border: 2px solid #494949 ;
    box-shadow: 0 0 0 0.1rem #c1e5c0 ;
}

.form-container .footer button:disabled {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #e4e4e4;
}



  .title-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .title-container input {
    margin: 5px;
    width: 200px;
    height: 40px;
    padding-left: 5px;
    font-size: 20px;
  }

  .photo-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .photo-container input {
    margin: 5px;
    width:  -webkit-fill-available;
    height: 40px;
    font-size: 20px;
  }

  .description-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .description-container textarea {
    display: flex;
    margin: 5px;
    width: 80%;
    height: 60px;
    font-size: 20px;
    outline:none;
    resize: none;
  }

  .personal-info-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .personal-info-container input {
    margin: 5px;
    width: 200px;
    height: 40px;
    padding-left: 5px;
    font-size: 20px;
  }

  .title-summary{
    font-weight: 700;
    font-size: 35px;
    line-height: 50px;
  }

  .description-summary{
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
    background: #889ccf;
    margin: 0 0 25px;
    overflow: hidden;
    padding: 20px;
    
  }
  .description-container p {
    
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
    background: #889ccf;
    margin: 0 0 25px;
    overflow: hidden;
    padding: 20px;
  }
  

//   Progress bar

.progressbar {
    width: 400px;
    height: 10px;
    background-color: rgb(117, 117, 117);
    margin-bottom: 50px;
  }
  
  .progressbar div {
    width: 33.3%;
    height: 100%;
    background-color: rgb(151, 209, 145);
  }

  input {
    border: 2px solid #C1E5C0;
    border-radius: 5px;
  }
  
  input:focus {
    border: 4px solid #C1E5C0;
  }

  textarea {
    border: 2px solid #C1E5C0;
    border-radius: 5px;
  }
  
  textarea:focus {
    border: 4px solid #C1E5C0;
  }
  