.footer-style {
    background-color:  rgb(1, 1, 12);
    color: white;
    text-align: center;
    padding-top: 1rem ;
}
.footer-style svg:hover {
    color: #85d182 !important;
}
.social-icon {
    color: whitesmoke !important;
    width: 1.5rem;
    font-size: 2rem;
    cursor: pointer;
}

.to-top-btn {
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
    transition: 0.4s;
    background-color: transparent;
    border: none;
    padding: 0;
}
.footer-link {
    text-decoration: none;
    color: white;
    transition-duration: 0.3s;
}
.footer-link:hover{
    color: #85d182 !important;
}
